# Data Wrangling Exercises

## Zillow

### Acquire and Summarize

#### 1. 
Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.

Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [1]:
import os
from env import user, password, host
import pandas as pd
# Fix so our 'check_columns will display correctly
pd.options.display.max_rows = 69


def get_zillow(user=user,password=password,host=host):
    """
    This function acquires data from a SQL database of 2017 Zillow properties and caches it locally.
    
    :param user: The username for accessing the MySQL database
    :param password: The password is unique per user saved in env
    :param host: The host parameter is the address of the server where the Zillow database is hosted
    :return: The function `get_zillow` is returning a dirty pandas DataFrame
    containing information on 2017 Zillow properties
    """
    # name of cached csv
    filename = 'zillow.csv'
    # if cached data exist
    if os.path.isfile(filename):
        df = pd.read_csv(filename, dtype={'buildingclassdesc':'string'})
    # wrangle from sql db if not cached
    else:
        # read sql query into df
        df = pd.read_sql('''
                        select *
                        from properties_2017
                        left join airconditioningtype using(airconditioningtypeid)
                        left join architecturalstyletype using(architecturalstyletypeid)
                        left join buildingclasstype using(buildingclasstypeid)
                        left join heatingorsystemtype using(heatingorsystemtypeid)
                        left join predictions_2017 using(parcelid)
                        left join propertylandusetype using(propertylandusetypeid)
                        left join storytype using(storytypeid)
                        left join typeconstructiontype using(typeconstructiontypeid)
                        where transactiondate like %s
                        '''
                        , f'mysql+pymysql://{user}:{password}@{host}/zillow'
                        , params=[('2017%',)]
                        )
        # cache data locally
        df.to_csv(filename, index=False)
    # sort by column: 'transactiondate' (descending) for dropping dupes keeping recent
    df = df.sort_values(['transactiondate'], ascending=[False]).drop_duplicates(subset=['parcelid']).sort_index()
    # no null lat long
    df = df[df['latitude'].notna()]
    print(f"Total rows: {df.shape[0]}")
    print(f"Total columns: {df.shape[1]}")
    return df

df = get_zillow()

Total rows: 77381
Total columns: 69

#### 2. 

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77381 entries, 0 to 77612
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77381 non-null  float64
 3   parcelid                      77381 non-null  int64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  airconditioningdesc           24786 non-null  object
 60  architecturalstyledesc        206 non-null    object
 61  buildingclassdesc             15 non-null     string
 62  heatingorsystemdesc           49381 non-null  object
 63  id.1                          77381 non-null  int64
 64  logerror                      77381 non-null  float64
 65  transactiondate               77381 non-null  object
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(10), string(1)
memory usage: 41.3+ MB

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,77381.0,2.618263e+02,5.141199e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
parcelid,77381.0,1.300715e+07,3.481346e+06,1.071186e+07,1.153830e+07,1.253157e+07,1.421183e+07,1.676893e+08
heatingorsystemtypeid,49440.0,3.920510e+00,3.592779e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,24953.0,1.813289e+00,2.967894e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
id,77381.0,1.495139e+06,8.609071e+05,3.490000e+02,7.520700e+05,1.497932e+06,2.240535e+06,2.982274e+06
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77381.0,2.299130e+00,9.966507e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77381.0,3.053489e+00,1.139096e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,49672.0,6.534587e+00,1.721953e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76772.0,2.316867e+00,9.797549e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6023.0,1.366513e+03,6.713081e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77185.0,1.785220e+03,9.540493e+02,1.280000e+02,1.182000e+03,1.543000e+03,2.113000e+03,3.564000e+04
finishedsquarefeet12,73749.0,1.760523e+03,9.340243e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.076000e+03,2.192900e+04
finishedsquarefeet13,41.0,1.389854e+03,1.235317e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3009.0,2.357792e+03,1.188775e+03,5.980000e+02,1.625000e+03,2.094000e+03,2.838000e+03,3.564000e+04
finishedsquarefeet50,6023.0,1.381772e+03,7.264689e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621500e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77381.0,6.048819e+03,2.074820e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8276.0,1.191155e+00,4.910796e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76772.0,2.250482e+00,9.665521e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25474.0,1.815459e+00,5.883449e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25474.0,3.501120e+02,2.616816e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.930000e+02,4.251000e+03
hashottuborspa,1538.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,77381.0,3.400837e+07,2.653888e+05,3.333953e+07,3.381457e+07,3.402200e+07,3.417439e+07,3.481877e+07
longitude,77381.0,-1.182036e+08,3.594826e+05,-1.194754e+08,-1.184153e+08,-1.181808e+08,-1.179284e+08,-1.175546e+08
lotsizesquarefeet,69142.0,2.996928e+04,1.233711e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183100e+04,6.971010e+06
poolcnt,16137.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.179170e+02,1.567160e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,464.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15042.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,77381.0,6.049129e+07,2.059052e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,75910.0,3.367124e+04,4.716982e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77381.0,2.534158e+03,8.015934e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30890.0,1.877349e+05,1.651188e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77331.0,9.658709e+04,3.798347e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77381.0,1.476952e+00,2.824386e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
threequarterbathnbr,10096.0,1.009608e+00,1.186301e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50563.0,1.110021e+00,1.171154e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2388.0,3.054112e+02,2.383928e+02,1.100000e+01,1.700000e+02,2.510000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77118.0,1.968636e+03,2.378603e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17560.0,1.434738e+00,5.445687e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77269.0,1.893145e+05,2.300874e+05,4.400000e+01,8.426500e+04,1.364990e+05,2.187870e+05,1.142179e+07
taxvaluedollarcnt,77380.0,4.901345e+05,6.534440e+05,1.000000e+03,2.070000e+05,3.589755e+05,5.690015e+05,4.906124e+07
assessmentyear,77381.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77379.0,3.010954e+05,4.925960e+05,1.610000e+02,8.550400e+04,2.033720e+05,3.667965e+05,4.895220e+07
taxamount,77376.0,5.995532e+03,7.622844e+03,1.992000e+01,2.715632e+03,4.450695e+03,6.927790e+03,5.866393e+05
taxdelinquencyyear,2886.0,1.408732e+01,2.185663e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77137.0,6.049673e+13,1.535242e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
id.1,77381.0,3.884789e+04,2.240216e+04,0.000000e+00,1.946000e+04,3.886900e+04,5.825200e+04,7.761200e+04
logerror,77381.0,1.662499e-02,1.701908e-01,-4.655420e+00,-2.437679e-02,6.626972e-03,3.920313e-02,5.262999e+00

In [4]:
def check_columns(df):
    """
    This function takes a pandas dataframe as input and returns
    a dataframe with information about each column in the dataframe. For
    each column, it returns the column name, the number of
    unique values in the column, the unique values themselves,
    the number of null values in the column, the proportion of null values,
    the data type of the column, and the range of the column if it is float or int. The resulting dataframe is sorted by the
    'Number of Unique Values' column in ascending order.

    Args:
    - df: pandas dataframe

    Returns:
    - pandas dataframe
    """
    print(f"Total rows: {df.shape[0]}")
    print(f"Total columns: {df.shape[1]}")
    data = []
    # Loop through each column in the dataframe
    for column in df.columns:
        # Append the column name, number of unique values, unique values, number of null values, proportion of null values, and data type to the data list
        if df[column].dtype in ['float64', 'int64']:
            data.append(
                [
                    column,
                    df[column].dtype,
                    df[column].nunique(),
                    df[column].isna().sum(),
                    df[column].isna().mean().round(5),
                    df[column].unique(),
                    df[column].describe()[['min', 'max', 'mean']].values
                ]
            )
        else:
            data.append(
                [
                    column,
                    df[column].dtype,
                    df[column].nunique(),
                    df[column].isna().sum(),
                    df[column].isna().mean().round(5),
                    df[column].unique(),
                    None
                ]
            )
    # Create a pandas dataframe from the data list, with column names 'Column Name', 'Number of Unique Values', 'Unique Values', 'Number of Null Values', 'Proportion of Null Values', 'dtype', and 'Range' (if column is float or int)
    # Sort the resulting dataframe by the 'Number of Unique Values' column in ascending order
    return pd.DataFrame(
        data,
        columns=[
            "col_name",
            "dtype",
            "num_unique",
            "num_null",
            "pct_null",
            "unique_values",
            "range (min, max, mean)"
        ])

In [5]:
check_columns(df)

Total rows: 77381
Total columns: 69

,col_name,dtype,num_unique,num_null,pct_null,unique_values,"range (min, max, mean)"
0,typeconstructiontypeid,float64,4,77159,0.99713,"[nan, 6.0, 13.0, 10.0, 4.0]","[4.0, 13.0, 6.04054054054054]"
1,storytypeid,float64,1,77331,0.99935,"[nan, 7.0]","[7.0, 7.0, 7.0]"
2,propertylandusetypeid,float64,13,0,0.00000,"[261.0, 266.0, 246.0, 260.0, 269.0, 247.0, 248...","[31.0, 275.0, 261.8263397991755]"
3,parcelid,int64,77381,0,0.00000,"[14297519, 17052889, 14186244, 12177905, 10887...","[10711855.0, 167689317.0, 13007150.505731381]"
4,heatingorsystemtypeid,float64,10,27941,0.36108,"[nan, 2.0, 7.0, 6.0, 24.0, 13.0, 18.0, 20.0, 1...","[1.0, 24.0, 3.920509708737864]"
5,buildingclasstypeid,float64,2,77366,0.99981,"[nan, 4.0, 3.0]","[3.0, 4.0, 3.933333333333333]"
6,architecturalstyletypeid,float64,5,77175,0.99734,"[nan, 7.0, 8.0, 21.0, 3.0, 2.0]","[2.0, 21.0, 7.388349514563107]"
7,airconditioningtypeid,float64,5,52428,0.67753,"[nan, 1.0, 13.0, 5.0, 11.0, 9.0]","[1.0, 13.0, 1.8132889832885826]"
8,id,int64,77381,0,0.00000,"[1727539, 1387261, 11677, 2288172, 1970746, 14...","[349.0, 2982274.0, 1495138.9017588296]"
9,basementsqft,float64,43,77331,0.99935,"[nan, 900.0, 1416.0, 224.0, 100.0, 512.0, 380....","[38.0, 3560.0, 679.72]"
10,bathroomcnt,float64,22,0,0.00000,"[3.5, 1.0, 2.0, 3.0, 0.0, 2.5, 4.5, 4.0, 5.0, ...","[0.0, 18.0, 2.299130277458291]"
11,bedroomcnt,float64,16,0,0.00000,"[4.0, 2.0, 3.0, 0.0, 6.0, 5.0, 1.0, 7.0, 8.0, ...","[0.0, 16.0, 3.0534885824685647]"
12,buildingqualitytypeid,float64,12,27709,0.35809,"[nan, 8.0, 9.0, 5.0, 4.0, 6.0, 7.0, 10.0, 3.0,...","[1.0, 12.0, 6.53458688999839]"
13,calculatedbathnbr,float64,21,609,0.00787,"[3.5, 1.0, 2.0, 3.0, nan, 2.5, 4.5, 4.0, 5.0, ...","[1.0, 18.0, 2.3168668264471424]"
14,decktypeid,float64,1,76767,0.99207,"[nan, 66.0]","[66.0, 66.0, 66.0]"
15,finishedfloor1squarefeet,float64,1787,71358,0.92216,"[nan, 1465.0, 842.0, 632.0, 4018.0, 1442.0, 61...","[44.0, 6912.0, 1366.5125352814212]"
16,calculatedfinishedsquarefeet,float64,4972,196,0.00253,"[3100.0, 1465.0, 1243.0, 2376.0, 1312.0, 1492....","[128.0, 35640.0, 1785.2199391073395]"
17,finishedsquarefeet12,float64,4868,3632,0.04694,"[3100.0, 1465.0, 1243.0, 2376.0, 1312.0, 1492....","[128.0, 21929.0, 1760.5225426785448]"
18,finishedsquarefeet13,float64,13,77340,0.99947,"[nan, 1440.0, 1344.0, 1152.0, 1536.0, 1392.0, ...","[1056.0, 1560.0, 1389.8536585365853]"
19,finishedsquarefeet15,float64,1724,74372,0.96111,"[nan, 3435.0, 3626.0, 1534.0, 1298.0, 1276.0, ...","[598.0, 35640.0, 2357.791625124626]"
20,finishedsquarefeet50,float64,1807,71358,0.92216,"[nan, 1465.0, 842.0, 632.0, 4018.0, 1442.0, 61...","[44.0, 12467.0, 1381.7715424207206]"
21,finishedsquarefeet6,float64,350,76995,0.99501,"[nan, 2482.0, 624.0, 4198.0, 5041.0, 1482.0, 7...","[380.0, 5598.0, 2082.5]"
22,fips,float64,3,0,0.00000,"[6059.0, 6111.0, 6037.0]","[6037.0, 6111.0, 6048.819232111242]"
23,fireplacecnt,float64,5,69105,0.89305,"[nan, 1.0, 2.0, 3.0, 4.0, 5.0]","[1.0, 5.0, 1.1911551474142097]"
24,fullbathcnt,float64,13,609,0.00787,"[3.0, 1.0, 2.0, nan, 4.0, 5.0, 6.0, 7.0, 9.0, ...","[1.0, 18.0, 2.2504819465430104]"
25,garagecarcnt,float64,14,51907,0.67080,"[2.0, 1.0, nan, 3.0, 4.0, 0.0, 5.0, 7.0, 6.0, ...","[0.0, 14.0, 1.8154588992698437]"
26,garagetotalsqft,float64,839,51907,0.67080,"[633.0, 0.0, 440.0, nan, 420.0, 447.0, 485.0, ...","[0.0, 4251.0, 350.11195728978566]"
27,hashottuborspa,float64,1,75843,0.98012,"[nan, 1.0]","[1.0, 1.0, 1.0]"
28,latitude,float64,64038,0,0.00000,"[33634931.0, 34449266.0, 33886168.0, 34245180....","[33339527.0, 34818767.0, 34008372.36660162]"
29,longitude,float64,62461,0,0.00000,"[-117869207.0, -119281531.0, -117823170.0, -11...","[-119475416.0, -117554636.0, -118203634.43275481]"
30,lotsizesquarefeet,float64,18848,8239,0.10647,"[4506.0, 12647.0, 8432.0, 13038.0, 278581.0, 9...","[236.0, 6971010.0, 29969.280610916663]"
31,poolcnt,float64,1,61244,0.79146,"[nan, 1.0]","[1.0, 1.0, 1.0]"
32,poolsizesum,float64,262,76514,0.98880,"[nan, 400.0, 578.0, 325.0, 480.0, 360.0, 500.0...","[24.0, 1500.0, 517.916955017301]"
33,pooltypeid10,float64,1,76917,0.99400,"[nan, 1.0]","[1.0, 1.0, 1.0]"
34,pooltypeid2,float64,1,76307,0.98612,"[nan, 1.0]","[1.0, 1.0, 1.0]"
35,pooltypeid7,float64,1,62339,0.80561,"[nan, 1.0]","[1.0, 1.0, 1.0]"
36,propertycountylandusecode,object,75,0,0.00000,"[122, 1110, 0101, 010C, 1129, 0100, 38, 34, 11...",None
37,propertyzoningdesc,object,1907,27050,0.34957,"[nan, LCR110000*, LAR3, PSR2, GLR4YY, WHRE2000...",None
38,rawcensustractandblock,float64,39192,0,0.00000,"[60590630.072012, 61110010.02300601, 60590218....","[60371011.101, 61110091.002027005, 60491294.95..."
39,regionidcity,float64,175,1471,0.01901,"[53571.0, 13091.0, 21412.0, 396551.0, 12447.0,...","[3491.0, 396556.0, 33671.242708470556]"
40,regionidcounty,float64,3,0,0.00000,"[1286.0, 2061.0, 3101.0]","[1286.0, 3101.0, 2534.1583334410257]"
41,regionidneighborhood,float64,480,46491,0.60081,"[nan, 268548.0, 274684.0, 276258.0, 403184.0, ...","[6952.0, 764167.0, 187734.86406604078]"
42,regionidzip,float64,389,50,0.00065,"[96978.0, 97099.0, 97078.0, 96330.0, 96451.0, ...","[95982.0, 399675.0, 96587.08682158514]"
43,roomcnt,float64,16,0,0.00000,"[0.0, 5.0, 6.0, 8.0, 7.0, 11.0, 3.0, 4.0, 9.0,...","[0.0, 15.0, 1.4769517064912576]"
44,threequarterbathnbr,float64,4,67285,0.86953,"[1.0, nan, 2.0, 7.0, 3.0]","[1.0, 7.0, 1.009607765451664]"
45,unitcnt,float64,8,26818,0.34657,"[nan, 1.0, 2.0, 3.0, 4.0, 45.0, 42.0, 6.0, 237.0]","[1.0, 237.0, 1.1100211617190436]"
46,yardbuildingsqft17,float64,540,74993,0.96914,"[nan, 306.0, 160.0, 318.0, 252.0, 196.0, 245.0...","[11.0, 3191.0, 305.4112227805695]"
47,yardbuildingsqft26,float64,59,77311,0.99910,"[nan, 196.0, 300.0, 56.0, 88.0, 120.0, 160.0, ...","[12.0, 868.0, 216.38571428571427]"
48,yearbuilt,float64,136,263,0.00340,"[1998.0, 1967.0, 1962.0, 1970.0, 1964.0, 1982....","[1824.0, 2016.0, 1968.6358308047409]"
49,numberofstories,float64,4,59821,0.77307,"[nan, 1.0, 2.0, 3.0, 6.0]","[1.0, 6.0, 1.4347380410022779]"
50,fireplaceflag,float64,1,77209,0.99778,"[nan, 1.0]","[1.0, 1.0, 1.0]"
51,structuretaxvaluedollarcnt,float64,50430,112,0.00145,"[485713.0, 88000.0, 85289.0, 108918.0, 73681.0...","[44.0, 11421790.0, 189314.53133857044]"
52,taxvaluedollarcnt,float64,50949,1,0.00001,"[1023282.0, 464000.0, 564778.0, 145143.0, 1194...","[1000.0, 49061236.0, 490134.4798785216]"
53,assessmentyear,float64,1,0,0.00000,[2016.0],"[2016.0, 2016.0, 2016.0]"
54,landtaxvaluedollarcnt,float64,51600,2,0.00003,"[537569.0, 376000.0, 479489.0, 36225.0, 45726....","[161.0, 48952198.0, 301095.4074232027]"
55,taxamount,float64,73825,5,0.00006,"[11013.72, 5672.48, 6488.3, 1777.51, 1533.89, ...","[19.92, 586639.3, 5995.5323464640205]"
56,taxdelinquencyflag,object,1,74495,0.96270,"[nan, Y]",None
57,taxdelinquencyyear,float64,13,74495,0.96270,"[nan, 15.0, 14.0, 9.0, 11.0, 10.0, 13.0, 12.0,...","[3.0, 99.0, 14.087318087318087]"
58,censustractandblock,float64,39006,244,0.00315,"[60590630072012.0, 61110010023006.0, 605902180...","[60371011101000.0, 483030105084015.0, 60496733..."
59,airconditioningdesc,object,4,52595,0.67969,"[nan, Central, Yes, Wall Unit, Refrigeration]",None
60,architecturalstyledesc,object,5,77175,0.99734,"[nan, Contemporary, Conventional, Ranch/Ramble...",None
61,buildingclassdesc,string[python],2,77366,0.99981,"[<NA>, Buildings having wood or wood and steel...",None
62,heatingorsystemdesc,object,9,28000,0.36185,"[nan, Central, Floor/Wall, Forced air, Yes, Ra...",None
63,id.1,int64,77381,0,0.00000,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.0, 77612.0, 38847.88543699358]"
64,logerror,float64,76837,0,0.00000,"[0.0255949017584, 0.0556190874015, 0.005382853...","[-4.65542037764, 5.2629986498, 0.0166249857287..."
65,transactiondate,object,264,0,0.00000,"[2017-01-01, 2017-01-02, 2017-01-03, 2017-06-0...",None
66,propertylandusedesc,object,13,0,0.00000,"[Single Family Residential, Condominium, Duple...",None
67,storydesc,object,1,77331,0.99935,"[nan, Basement]",None
68,typeconstructiondesc,object,4,77159,0.99713,"[nan, Frame, Masonry, Metal, Concrete]",None

#### 3. 

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

##### The output should look like the table below:

|  | num_rows_missing | pct_rows_missing|
| - |------------------|-----------------|
| parcelid | 0 | 0.000000|
| airconditioningtypeid | 29041 | 0.535486|
| architecturalstyletypeid | 54232 | 0.999982 |

In [6]:
def check_columns_only_nulls(df):
    """
    This function takes a pandas dataframe as input and returns
    a dataframe with information about each column in the dataframe. For
    each column, it returns the column name, the number of
    unique values in the column, the unique values themselves,
    the number of null values in the column, the proportion of null values,
    and the data type of the column. The resulting dataframe is sorted by the
    'Number of Unique Values' column in ascending order.

    Args:
    - df: pandas dataframe

    Returns:
    - pandas dataframe
    """
    data = []
    # Loop through each column in the dataframe
    for column in df.columns:
        # Append the column name, number of unique values, unique values, number of null values, proportion of null values, and data type to the data list
        data.append(
            [
                column,
                # df[column].nunique(),
                # df[column].unique(),
                df[column].isna().sum(),
                df[column].isna().mean(),
                # df[column].dtype,
            ]
        )
    # Create a pandas dataframe from the data list, with column names 'Column Name', 'Number of Unique Values', 'Unique Values', 'Number of Null Values', 'Proportion of Null Values', and 'dtype'
    # Sort the resulting dataframe by the 'Number of Unique Values' column in ascending order
    return pd.DataFrame(
        data,
        columns=[
            "column_name",
            # "Number of Unique Values",
            # "Unique Values",
            "num_rows_missing",
            "pct_rows_missing",
            # "dtype",
        ],
    )

In [7]:
check_columns_only_nulls(df)

                     column_name  num_rows_missing  pct_rows_missing
0         typeconstructiontypeid             77159          0.997131
1                    storytypeid             77331          0.999354
2          propertylandusetypeid                 0          0.000000
3                       parcelid                 0          0.000000
4          heatingorsystemtypeid             27941          0.361083
5            buildingclasstypeid             77366          0.999806
6       architecturalstyletypeid             77175          0.997338
7          airconditioningtypeid             52428          0.677531
8                             id                 0          0.000000
9                   basementsqft             77331          0.999354
10                   bathroomcnt                 0          0.000000
11                    bedroomcnt                 0          0.000000
12         buildingqualitytypeid             27709          0.358085
13             calculatedbathnbr               609          0.007870
14                    decktypeid             76767          0.992065
15      finishedfloor1squarefeet             71358          0.922164
16  calculatedfinishedsquarefeet               196          0.002533
17          finishedsquarefeet12              3632          0.046937
18          finishedsquarefeet13             77340          0.999470
19          finishedsquarefeet15             74372          0.961114
20          finishedsquarefeet50             71358          0.922164
21           finishedsquarefeet6             76995          0.995012
22                          fips                 0          0.000000
23                  fireplacecnt             69105          0.893049
24                   fullbathcnt               609          0.007870
25                  garagecarcnt             51907          0.670798
26               garagetotalsqft             51907          0.670798
27                hashottuborspa             75843          0.980124
28                      latitude                 0          0.000000
29                     longitude                 0          0.000000
30             lotsizesquarefeet              8239          0.106473
31                       poolcnt             61244          0.791460
32                   poolsizesum             76514          0.988796
33                  pooltypeid10             76917          0.994004
34                   pooltypeid2             76307          0.986121
35                   pooltypeid7             62339          0.805611
36     propertycountylandusecode                 0          0.000000
37            propertyzoningdesc             27050          0.349569
38        rawcensustractandblock                 0          0.000000
39                  regionidcity              1471          0.019010
40                regionidcounty                 0          0.000000
41          regionidneighborhood             46491          0.600806
42                   regionidzip                50          0.000646
43                       roomcnt                 0          0.000000
44           threequarterbathnbr             67285          0.869529
45                       unitcnt             26818          0.346571
46            yardbuildingsqft17             74993          0.969140
47            yardbuildingsqft26             77311          0.999095
48                     yearbuilt               263          0.003399
49               numberofstories             59821          0.773071
50                 fireplaceflag             77209          0.997777
51    structuretaxvaluedollarcnt               112          0.001447
52             taxvaluedollarcnt                 1          0.000013
53                assessmentyear                 0          0.000000
54         landtaxvaluedollarcnt                 2          0.000026
55                     taxamount                 5          0.000065
56            taxdelinquencyflag             74495          0.962704
57            taxdelinquencyyear             74495          0.962704
58           censustractandblock               244          0.003153
59           airconditioningdesc             52595          0.679689
60        architecturalstyledesc             77175          0.997338
61             buildingclassdesc             77366          0.999806
62           heatingorsystemdesc             28000          0.361846
63                          id.1                 0          0.000000
64                      logerror                 0          0.000000
65               transactiondate                 0          0.000000
66           propertylandusedesc                 0          0.000000
67                     storydesc             77331          0.999354
68          typeconstructiondesc             77159          0.997131

### Prepare

#### 1. 

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.


#### 2. 

Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

**The input:**
- A dataframe

- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).

- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).

**The output:**

- The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

- (Hint) Look up the dropna documentation.

- You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [8]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    """
    Drop rows or columns based on the percent of values that are missing.

    Parameters:
    df (pandas.DataFrame): The input dataframe.
    prop_required_column (float): The proportion of non-missing values required to keep a column.
    prop_required_row (float): The proportion of non-missing values required to keep a row.

    Returns:
    pandas.DataFrame: The dataframe with missing values handled.
    """
    temp_df = df
    # Drop columns with too many missing values
    threshold = int(round(prop_required_column * len(df.index), 0))
    temp_df.dropna(axis=1, thresh=threshold, inplace=True)

    # Drop rows with too many missing values
    threshold = int(round(prop_required_row * len(df.columns), 0))
    temp_df.dropna(axis=0, thresh=threshold, inplace=True)

    return temp_df

In [9]:
df1 = handle_missing_values(df, 0, 0)

check_columns(df1)

#### 3. 

Encapsulate your work inside of functions in a wrangle_zillow.py module.

## Mall Customers

### 1. 
Acquire data from the customers table in the mall_customers database.

### 2. 
Summarize the data (include distributions and descriptive statistics).

### 3. 
Detect outliers using IQR.

### 4. 
Split data into train, validate, and test.

### 5. 
Encode categorical columns using a one hot encoder (pd.get_dummies).

### 6. 
Handles missing values.

### 7. 
Scaling

### 8. 
Encapsulate your work in a `wrangle_mall.py` python module.